@import "variable.styl"

body, html
    line-height: 1
    font-family: 'PingFang SC', 'Microsoft YaHei UI', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback' !important
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: $color-background
    color: $color-text

/*覆盖YDUI的样式*/
.m-navbar
    background-color #24242C !important

::-webkit-input-placeholder
    color: #ccc

.navbar-center-box .navbar-center .center-title
    display inline-block
    height 100%
    line-height .9rem

button, input, select, textarea
    font-family: 'PingFang SC', 'Microsoft YaHei UI', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback' !important

.cell-title
    font-size .26rem !important
    color #24242c !important
    padding 0 .33rem .24rem !important
.m-textarea textarea
    font-size .26rem !important
    color #24242c !important
.m-textarea .textarea-counter
    font-size .26rem !important
#input-group input
    text-align right
    font-size 0.26rem
    padding-left .16rem
.tab-nav
    height 1rem !important
.tab-nav-item
    height 1rem !important
    line-height 1rem !important
    color #24242c !important
    font-size .28rem !important
.tab-nav-item.tab-active
    color #00a7a3 !important
.tab-panel
    margin-top .2rem
    background-color #f5f4f9 !important
.datetime-input
    justify-content flex-end !important
    font-size .26rem !important
#bill-confirm
    .cell-item
        &:not(:last-child):after
            border-bottom 0
