@import "variable.styl"

body, html
    line-height: 1
    font-family: 'PingFang SC', 'Microsoft YaHei UI', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback' !important
    user-select: none
    -webkit-tap-highlight-color: transparent
    background: $color-background
    color: $color-text
::-webkit-scrollbar
    display none
img
    border none !important
    outline none !important
    border-color transparent
    &[lazy='error']
        background-color #f0f0f0
    &[lazy='loading']
        background-color #f0f0f0
/*覆盖YDUI的样式*/
.yd-list-theme1
    padding 0
.m-navbar
    background-color #24242C !important

::-webkit-input-placeholder
    color: #ccc

.navbar-center-box .navbar-center .center-title
    display inline-block
    height 100%
    line-height .9rem

button, input, select, textarea
    font-family: 'PingFang SC', 'Microsoft YaHei UI', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback' !important

.text-red
    color #e65966
.cell-title
    font-size .26rem !important
    color #24242c !important
    padding 0 .33rem .24rem !important
.m-textarea textarea
    font-size .26rem !important
    color #24242c !important
.m-textarea .textarea-counter
    font-size .26rem !important
#input-group input
    text-align right
    font-size 0.26rem
    padding-left .16rem
.tab-nav
    height 1rem !important
.tab-nav-item
    height 1rem !important
    line-height 1rem !important
    color #24242c !important
    font-size .28rem !important
.tab-nav-item.tab-active
    color #00a7a3 !important
.tab-panel
    margin-top .2rem
    background-color #f5f4f9 !important
.datetime-input
    justify-content flex-end !important
    font-size .26rem !important
#bill-confirm
    .cell-item
        &:not(:last-child):after
            border-bottom 0
#input-group .upload-list
    display flex
    justify-content: space-between;
    width: 90%;
#input-group .upload-list .room-item
    display flex
    justify-content center
    position relative
    border-radius 2px
    overflow hidden
#input-group .upload-list .room-item .room-image
    width 1.6rem
    height 1.6rem
    border none
    border-radius 2px
    object-fit cover
    background-color #f3f4f5
.lightbox-head > a
    font-size .4rem
    color #999
#community .list-theme1
    padding 0 !important
.yd-tabbar:after
    border-top 1px solid #e7e7e7 !important
#mine
    .yd-cell-item
        padding-left .4rem !important
    .yd-cell-icon
        margin-right .28rem !important
    .yd-cell:after
        border-bottom none
    .yd-cell-item:not(:last-child):after
        border-bottom 1px solid #e7e7e7 !important
#myOrderDetail
    .yd-cell-box
        margin-bottom 0 !important
        border-top 1px solid #e7e7e7
    .yd-cell-item
        padding-left .2rem !important
    .yd-cell:after
        border-color transparent
    .yd-cell-icon
        margin-right 0 !important
#invoiceInfo
    input
        font-size .26rem !important
        text-align right
    .left-delete
        .move
            .yd-cell-item::after
                content: ""
                position: absolute
                z-index: 0
                bottom: 0
                left: 0
                width: 100%
                border-bottom: 1px solid #eee
                -webkit-transform: scaleY(.5)
                transform: scaleY(.5)
                -webkit-transform-origin: 0 0
                transform-origin: 0 0
#writeApply
    .yd-cell-item
        padding-left .2rem
    .yd-cell-box
        margin-bottom 0
        .yd-cell-left
            text-align left
    input
        color #262626
        font-size .26rem !important
        text-align right
    .yd-cell:after
        border-bottom 1px solid #e7e7e7
.yd-slider-item a
    width 100%
    height 100%
.yd-slider-item img
    width 100%
    height 100%
    object-fit cover
#imageText
    img
        width 100% !important
#meetingAdd
    .yd-cell-right
        .yd-datetime-input
            justify-content flex-end !important
            text-align right !important
            font-size .26rem
